body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #000;
}

h1 {
	font-size: 34px;
	font-weight: 700;
}


.wrapper {
	min-width: 100%;
	min-height: 100%;
	display: grid;
	grid-template: minmax(500px, auto) 1fr minmax(500px, auto) / 1fr;
	grid-template-areas: 
	"header"
	"main"
	"footer";
}

.header {
	display: grid;
	grid-template-columns:1fr minmax(auto, 1440px) 1fr;
	grid-template-rows: auto minmax(150px, auto) auto;
	grid-area: header;
	padding: 0 30px 100px 30px;
}

.header-nav {
	grid-area: header-nav;
	grid-row: 1/2;
	grid-column: 2/3;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #828282;
}

.header-nav__link {
	color: #828282;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 700;
}

.header-nav__link:hover {
	color: black;
}


.header-bottom {
	display: flex;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	justify-content: space-between;
	grid-area: header-bottom;
	grid-column: 2/3;
	grid-row: 2/3;
}

.header-logo {
	font-size: 45px;
	line-height: 50px;
	font-weight: 600;
	grid-area: header-logo;
}

.header-title {
	grid-area: header-title;
	font-size: 18px;
	font-weight: 400;
	
}

.header-lang {
	grid-area: header-lang;
	writing-mode: vertical-rl;
}

.header-img {
	overflow: hidden;
	grid-area: header-img;
	height: 400px;
	grid-column: 2/3;
	grid-row: 3/4;
}

.header-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 45%;
}


.main {
	display: grid;
	grid-template-columns:1fr minmax(auto, 1440px) 1fr;
	grid-area: main;
	background: #f6f6f6;
}

.main-grid__element {
	grid-area: main-grid__element;
}

.main-about {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 120px 30px 50px 30px;
}


.main-about__text {

}
.main-about__text p{
	margin-bottom: 50px;

}


.title {
	margin-bottom: 20px;
}


.main-skills {
	display: grid;
	grid-template-columns:1fr minmax(auto, 1440px) 1fr;
	grid-column: span 3;
	background: #fff;
	text-align: center;
	padding: 100px 30px;
}

.title__skills {
	font-size: 14px;
	color: #828282;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 40px;
}

.main-skills-content {
	grid-column: 2/3;
}

.main-skills__ex {
	width: 100%;
	/*display: grid;
	grid-template: 1fr / repeat(4,auto);*/
	display: flex;
	justify-content: space-between;

}

.skills-element {
	margin-top: 71px;
}

@media (max-width: 760px) {
	.main-skills__ex {
		display: flex;
		flex-direction: column;
	}

}

.main-portfolio {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 100px;
	grid-column: 2/3;
	text-align: center;
}

.main-portfolio .title {
	margin-bottom: 50px;
}

.portfolio__item {
	margin-bottom: 100px;
	font-weight: 400;
}

.portfolio__img {
	margin-bottom: 45px;
}

.portfolio__item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.portfolio__item a {
	text-decoration: underline;
}

.light {
	color: #E5E5E5;
}

.fas {
	margin-right: 10px;
}

.footer {
	display: grid;
	grid-template-columns:1fr minmax(auto, 1440px) 1fr;
	grid-area: footer;
	text-align: center;
	padding: 110px 30px 110px 30px;
}

.footer-body {
	grid-column: 2/3;
	line-height: 21px;
}

.footer-networks {
	grid-column: 2/3;
	text-align: center;
}

.networks__icons {
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin: 85px auto 45px auto;
}

.networks__text {
	line-height: 21px;
	margin-top: 71px;
}

.icons-item {
	
}

.footer__btn {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 30px;
	line-height: 42px;
	background: #000;
	color: #fff;
	padding: 10px 30px 10px 30px;
	font-weight: 700;
	margin-top: 30px;
}

@media(max-width: 760px) {
	.footer__btn {
		display: block;
	}
}